.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350vh;
  width: 400px;
  border-radius: 12px;
  background-image: linear-gradient();
}
